<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Data Edition</title>
</head>
<body>

<form th:action="@{/user/edit}" method="post" th:object="${assigment}">
    <table>
        <input type="hidden" id="userId" name="userId" th:value="${userId}"/>
        <input type="hidden" id="addressId" name="addressId" th:value="${addressId}"/>
        <tr>
            <td>Login</td>
            <td><span th:text="${user.login}">Login</span></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" id="name" name="name" th:value="${user.name}"/></td>
        </tr>
        <tr>
            <td>Surname</td>
            <td><input type="text" id="surname" name="surname" th:value="${user.surname}"/></td>
        </tr>        <tr>
            <td>Phone Number</td>
            <td><input type="text" id="phoneNumber" name="phoneNumber" th:value="${user.phoneNumber}"/></td>
        </tr>
        <tr>
            <td>e-mail</td>
            <td><input type="email" id="emailAdress" name="emailAdress" th:value="${user.emailAdress}"/></td>
        </tr>

        <tr>
            <td>Street</td>
            <td><input type="text" id="street" name="street" th:value="${address.street}"/></td>
        </tr>
        <tr>
            <td>House Number</td>
            <td><input type="text" id="houseNumber" name="houseNumber"  th:value="${address.houseNumber}"/></td>
        </tr>
        <tr>
            <td>Apartment Number</td>
            <td><input type="text" id="apartmentNumber" name="apartmentNumber"  th:value="${address.apartmentNumber}"/></td>
        </tr>
        <tr>
            <td>Postal Code</td>
            <td><input type="text" id="postalCode" name="postalCode"  th:value="${address.postalCode}"/></td>
        <tr>
            <td>City</td>
            <td><input type="text" id="city" name="city"  th:value="${address.city}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>